<form hx-post="/{{ lang }}/post_attack/{{ creature_id }}" hx-target="attacks">
    <hr>
    <h3>{{ fluent(key="add-an-attack", lang=lang )}}</h3><br>
    <div>
        <label>{{ fluent(key="attack-name", lang=lang )}}*</label><br>
        <input class="form-control form-control-lg" type="text" name="name" placeholder="{{ fluent(key="enter-name-here", lang=lang )}}" size=60 value="" required>
    </div>

    <div>
        <label>{{ fluent(key="action-step", lang=lang )}}*</label><br>
        <input class="form-control form-control-lg" type="number" name="action_step" placeholder="{{ fluent(key="enter-action-step", lang=lang )}}" size=60 value="" required>
    </div>

    <div>
        <label>{{ fluent(key="effect-step", lang=lang )}}*</label><br>
        <input class="form-control form-control-lg" type="number" name="effect_step" placeholder="{{ fluent(key="enter-effect-step", lang=lang )}}" size=60 value="" required>
    </div>

    <div>
        <label>Details</label><br>
        <input class="form-control form-control-lg" type="text" name="details" placeholder="{{ fluent(key="enter-details-here", lang=lang )}}" size=60 value="">
    </div>
    <button
        hx-post="/{{ lang }}/post_attack/{{ creature_id }}"
        hx-target="#attacks"
        class="btn btn-primary" 
        type="submit"
    >Save
    </button>
    <hr>
  </form>