<div 
    id="attack-{{ attack.id }}"
    hx-target="this"
    hx-swap="outerHTML"
    >
    <li><strong>{{ attack.name }}</strong>: {{ attack.action_step}} ({{ attack.effect_step }}){% if attack.details %}: {{ attack.details }}{% endif %} 
    <button
        hx-get="/{{ lang }}/edit_attack/{{ attack.id }}"
        hx-target="#attack-{{ attack.id }}"
        class="btn btn-info"
    >Edit</button>
    <button
        hx-get="/{{ lang }}/delete_attack/{{ attack.id }}"
        hx-target="#attack-{{ attack.id }}"
        class="btn btn-danger btn-sm"
        >Delete
    </button>
    </li>
</div> <!-- end-div htmx -->