{% extends "base.html" %}

{% block content %}

  <br><br>
  <h1>{{ creature.name | title | safe }} {% if session_user == creature.creator_slug or role == "Admin" %}
    <a
      href="/{{ lang }}/edit_creature/{{ creature.id }}" 
      class="btn btn-dark">
      Edit
    </a>
    {% endif %}
    <a
      href="/{{ lang }}/creature/in_game/{{ creature.slug }}" 
      class="btn btn-info">
      Play
    </a>
  </h1>

  <h4>{{ fluent(key="circle", lang=lang )}}: {{ creature.circle_rank }}</h4>
  <h4>{{ fluent(key="rarity", lang=lang )}}: {{ creature.rarity }}</h4>
  <h4>{{ fluent(key="found-in", lang=lang )}}: {% for location in creature.found_in %}
    <button
      hx-get="/{{ lang }}/location/{{ location }}"
      hx-trigger="click"
      hx-target="#main-body"
      hx-swap="outerHTML"
      class="btn btn-sm btn-info" 
      >{{ location }}
    </button>
    {% endfor %}
  </h4>
    <small>Created at: {{ creature.created_at | date(format="%Y-%m-%d %H:%M") }} by {{ creature.creator_slug }};</small>
    <small>Updated at: {{ creature.updated_at | date(format="%Y-%m-%d %H:%M") }}</small>
    <hr>
  
    {% if creature.description != "" %}
          <p>{{ creature.description }}</p>
    <hr>
    {% endif %}

  <h3>Attributes</h3>
  <div>
    <div class="row">
      <div class="col">
        <ul>{{ fluent(key="dexterity", lang=lang )}}: {{ creature.dexterity }}: {{ steps | nth(n=creature.dexterity - 1) }}</ul>
        <ul>{{ fluent(key="strength", lang=lang )}}: {{ creature.strength }}: {{ steps | nth(n=creature.strength - 1) }}</ul>
        <ul>{{ fluent(key="constitution", lang=lang )}}: {{ creature.constitution }}: {{ steps | nth(n=creature.constitution - 1) }}</ul>
        <ul>{{ fluent(key="perception", lang=lang )}}: {{ creature.perception }}: {{ steps | nth(n=creature.perception - 1) }}</ul>
        <ul>{{ fluent(key="willpower", lang=lang )}}: {{ creature.willpower }}: {{ steps | nth(n=creature.willpower - 1) }}</ul>
        <ul>{{ fluent(key="charisma", lang=lang )}}: {{ creature.charisma }}: {{ steps | nth(n=creature.charisma - 1) }}</ul>
      </div>
      <div class="col">
        <ul>{{ fluent(key="initiative", lang=lang )}}: {{ creature.initiative }}: {{ steps | nth(n=creature.initiative - 1) }}</ul>
        <ul>{{ fluent(key="physical-defense", lang=lang )}}: {{ creature.pd }}</ul>
        <ul>{{ fluent(key="mystic-defense", lang=lang )}}: {{ creature.md }}</ul>
        <ul>{{ fluent(key="social-defense", lang=lang )}}: {{ creature.sd }}</ul>
        <ul>{{ fluent(key="physical-armor", lang=lang )}}: {{ creature.pa }}</ul>
        <ul>{{ fluent(key="mystic-armor", lang=lang )}}: {{ creature.ma }}</ul>
      </div>
      <div class="col">
        <ul>{{ fluent(key="unconscious-rating", lang=lang )}}: {{ creature.unconsciousness_rating }}</ul>
        <ul>{{ fluent(key="death-rating", lang=lang )}}: {{ creature.death_rating }}</ul>
        <ul>{{ fluent(key="wound-rating", lang=lang )}}: {{ creature.wound }}</ul>
        <ul>{{ fluent(key="knockdown", lang=lang )}}: {{ creature.knockdown }}</ul>
        <ul>{{ fluent(key="recovery-rolls", lang=lang )}}: {{ creature.recovery_rolls }}</ul>
        <ul>{{ fluent(key="karma", lang=lang )}}: {{ creature.karma }}</ul>
      </div>
    </div>
    <div class="row">
      <ul>{{ fluent(key="movement", lang=lang )}}: {{ creature.movement }}</ul>
    </div>
    <div class="row">
      <ul>{{ fluent(key="actions", lang=lang )}}: {{ creature.actions }}</ul>
    </div>

    <hr>
  </div> <!-- End of creature -->
  
  <div
    class="container" 
    id="attacks"
    hx-target="this"
    hx-swap="outerHTML"
>
    <div class="row">
      <h3>Attacks</h3><br>
    </div>
      {% if attacks %}
      {% for attack in attacks %}
      <div 
        id="attack-{{ attack.id }}"
        hx-target="this"
        hx-swap="outerHTML"
      >
      <li>
        <strong>{{ attack.name }}</strong>: {{ attack.action_step}}: {{ steps | nth(n=attack.action_step - 1) }} ({{ attack.effect_step }}: {{ steps | nth(n=attack.effect_step - 1) }}){% if attack.details %}: {{ attack.details }}{% endif %}
      
       {% if session_user == creature.creator_slug or role == "Admin" %}
          <button
          hx-get="/{{ lang }}/edit_attack/{{ attack.id }}"
          hx-target="#attack-{{ attack.id }}"
          class="btn btn-info btn-sm"
        >Edit</button> 
        <button
          hx-get="/{{ lang }}/delete_attack/{{ attack.id }}"
          hx-target="#attack-{{ attack.id }}"
          class="btn btn-danger btn-sm"
        >Delete</button>
        {% endif %}
        </li>
      </div> <!-- end-div htmx -->
      {% endfor %} <!-- attacks -->
      {% endif %}
      <br>
      {% if session_user == creature.creator_slug or role == "Admin" %}
      <button
        class="btn btn-dark"
        hx-get="/{{ lang }}/add_attack/{{ creature.id }}"
        hx-target="this"
        hx-swap="outerHTML"
        >
        Add an Attack
      </button>
      {% endif %}
      <hr>
</div>
    
<div
class="container" 
id="powers"
hx-target="this"
hx-swap="outerHTML"
>
<div class="row">
  <h3>Powers and Abilities</h3><br>
</div>
  {% if powers %}
  {% for power in powers %}
  <div 
    id="power-{{ power.id }}"
    hx-target="this"
    hx-swap="outerHTML"
  >
    <li>
      <strong>{{ power.name }}</strong> ({{ power.action_type }} {% if power.target != 'NotApplicable' %} vs. {{ power.target }}{% endif %}): {{ power.action_step}}: {{ steps | nth(n=power.action_step - 1) }} ({{ power.effect_step }}: {{ steps | nth(n=power.effect_step - 1) }}{% if power.resisted_by != 'NotApplicable' %}/<i>{{ power.resisted_by }}</i>{% endif %}){% if power.details %}: {{ power.details }}{% endif %}   
        {% if session_user == creature.creator_slug or role == "Admin" %}
        <button
        hx-get="/{{ lang }}/edit_power/{{ power.id }}"
        hx-target="#power-{{ power.id }}"
        class="btn btn-info btn-sm"
        >Edit</button> 
        <button
            hx-get="/{{ lang }}/delete_power/{{ power.id }}"
            hx-target="#power-{{ power.id }}"
            class="btn btn-danger btn-sm"
        >Delete</button>
        {% endif %}
    </li>
  </div> <!-- end-div htmx -->
  {% endfor %} <!-- powers -->
  {% endif %}
  <br>
  {% if session_user == creature.creator_slug or role == "Admin" %}
  <button
    class="btn btn-dark"
    hx-get="/{{ lang }}/add_power/{{ creature.id }}"
    hx-target="this"
    hx-swap="outerHTML"
    >
    Add a Power or Ability
  </button>
  {% endif %}
  <hr>
</div>

<div
    class="container" 
    id="maneuvers"
    hx-target="this"
    hx-swap="outerHTML"
>
    <div class="row">
      <h3>Special Maneuvers</h3><br>
    </div>
      {% if maneuvers %}
      {% for maneuver in maneuvers %}
      <div 
        id="maneuver-{{ maneuver.id }}"
        hx-target="this"
        hx-swap="outerHTML"
      >
      <li><strong>{{ maneuver.name }}</strong> [{{ maneuver.source}}]: {{ maneuver.details }} 
        {% if session_user == creature.creator_slug or role == "Admin" %}    
        <button
            hx-get="/{{ lang }}/edit_maneuver/{{ maneuver.id }}"
            hx-target="#maneuver-{{ maneuver.id }}"
            class="btn btn-info btn-sm"
            >Edit</button> 
            <button
            hx-get="/{{ lang }}/delete_maneuver/{{ maneuver.id }}"
            hx-target="#maneuver-{{ maneuver.id }}"
            class="btn btn-danger btn-sm"
            >Delete</button>
          {% endif %}
        </li>
      </div> <!-- end-div htmx -->
      {% endfor %} <!-- maneuvers -->
      {% endif %}
      <br>
      {% if session_user == creature.creator_slug or role == "Admin" %}
      <button
        class="btn btn-dark"
        hx-get="/{{ lang }}/add_maneuver/{{ creature.id }}"
        hx-target="this"
        hx-swap="outerHTML"
        >
        Add a Maneuver
      </button>
      {% endif %}
      <hr>
</div>

{% endblock content %}