{% extends "base.html" %}

{% block content %}

<div 
    id="{{creature.id}}-content"
    hx-swap="outerHTML"
    hx-target="this"
>
<h1>{{ creature.creature_name | title | safe }}</h1>

<h4>{{ fluent(key="circle", lang=lang )}}: {{ creature.circle_rank }}</h4>
<h4>{{ fluent(key="rarity", lang=lang )}}: {{ creature.rarity }}</h4>
<h4>{{ fluent(key="found-in", lang=lang )}}: {{ creature.found_in }}</h4>

<h4>Attributes</h4>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <ul>{{ fluent(key="dexterity", lang=lang )}}: {{ creature.dexterity }}</ul>
        <ul>{{ fluent(key="strength", lang=lang )}}: {{ creature.strength }}</ul>
        <ul>{{ fluent(key="constitution", lang=lang )}}: {{ creature.constitution }}</ul>
        <ul>{{ fluent(key="perception", lang=lang )}}: {{ creature.perception }}</ul>
        <ul>{{ fluent(key="willpower", lang=lang )}}: {{ creature.willpower }}</ul>
        <ul>{{ fluent(key="charisma", lang=lang )}}: {{ creature.charisma }}</ul>
      </div>
      <div class="col-sm">
        <ul>{{ fluent(key="initiative", lang=lang )}}: {{ creature.initiative }}</ul>
        <ul>{{ fluent(key="physical-defense", lang=lang )}}: {{ creature.pd }}</ul>
        <ul>{{ fluent(key="mystic-defense", lang=lang )}}: {{ creature.md }}</ul>
        <ul>{{ fluent(key="social-defense", lang=lang )}}: {{ creature.sd }}</ul>
        <ul>{{ fluent(key="physical-armor", lang=lang )}}: {{ creature.pa }}</ul>
        <ul>{{ fluent(key="mystic-armor", lang=lang )}}: {{ creature.ma }}</ul>
      </div>
      <div class="col-sm">
        <ul>{{ fluent(key="unconscious-rating", lang=lang )}}: {{ creature.dexterity }}</ul>
        <ul>{{ fluent(key="death-rating", lang=lang )}}: {{ creature.strength }}</ul>
        <ul>{{ fluent(key="wound-rating", lang=lang )}}: {{ creature.constitution }}</ul>
        <ul>{{ fluent(key="knockdown", lang=lang )}}: {{ creature.perception }}</ul>
        <ul>{{ fluent(key="recovery-rolls", lang=lang )}}: {{ creature.willpower }}</ul>
        <ul>{{ fluent(key="karma", lang=lang )}}: {{ creature.charisma }}</ul>
      </div>
    </div>
  </div>
  <row>
    {{ fluent(key="movement", lang=lang )}}: {{ creature.movement }}
    {{ fluent(key="actions", lang=lang )}}: {{ creature.actions }}
  </row>
<hr>
{% if attacks %}
<h3>Attacks</h3>
  {% for attack in attacks %}
    <ul>{{ attack.name }}: {{ attack.action_step}} ({{ attack.effect_step }})</ul>
  {% endfor %} <! attacks >
{% endif %}

<hr>
{% if powers %}
<h3>Powers</h3>
  {% for power in powers %}
    <ul>{{ power.name }}: {{ power.action_step}} ({{ power.effect_step }})</ul>
  {% endfor %}
{% endif %}

<hr>

<ul>
    <li>Created at: {{ creature.created_at | date(format="%Y-%m-%d %H:%M") }}</li>
    <li>Updated at: {{ creature.updated_at | date(format="%Y-%m-%d %H:%M") }}</li>
</ul>
{% if session_user != "" %}
    <button
    hx-get="/{{ lang }}/edit_creature_form/{{ creature.id }}" 
    class="btn">
            Edit
    </button>
{% endif %}
</div>

{% endblock content %}