{% extends "base.html" %}

{% block content %}

<div 
    id="{{creature.id}}-content"
    hx-swap="outerHTML"
    hx-target="this"
>
<h1>{{ fluent(key="edit-button", lang=lang )}} {{ creature.name }}</h1>
    <form
        action="/{{ lang }}/edit_creature_post/{{ creature.id }}"
        method="POST"
    >
        <div>
            <label>{{ fluent(key="creature-name", lang=lang )}}</label><br>
            <input class="form-control form-control-lg" type="text" name="name" placeholder="Add name here..." size=60 value="{{ creature.name }}" required>
        </div>
        <br>

        <div>
            <label>{{ fluent(key="circle", lang=lang )}}</label><br>
            <input class="form-control form-control-lg" type="number" name="circle_rank" placeholder="1" size=60 value="{{ creature.circle_rank }}" required>
        </div>
        <hr>
        <div>
            <label for="rarity">{{ fluent(key="rarity", lang=lang )}}</label>
            <select name="rarity" id="rarity_select">
                <option {% if creature.rarity == "Common" %}selected{% endif %} value="Common">{{ fluent(key="common", lang=lang )}}</option>
                <option {% if creature.rarity == "Uncommon" %}selected{% endif %} value="Uncommon">{{ fluent(key="uncommon", lang=lang )}}</option>
                <option {% if creature.rarity == "Rare" %}selected{% endif %} value="Rare">{{ fluent(key="rare", lang=lang )}}</option>
                <option {% if creature.rarity == "Unique" %}selected{% endif %} value="Unique">{{ fluent(key="unique", lang=lang )}}</option>
            </select>
        </div>

        <hr>

        <label>{{ fluent(key="tags", lang=lang )}}</label>
        <div class="row">
            <div class="col-md-4">
                <div class="input-grp">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="creature" id="flexSwitchCheckCreature" {%if 'Creature' in creature.tags %}checked{% endif %}>
                        <label class="form-check-label" for="flexSwitchCheckCreature">{{ fluent(key="creature", lang=lang )}}</label>
                    </div>
        
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="spirit" id="flexSwitchCheckSpirit" {%if 'Spirit' in creature.tags %}checked{% endif %}>
                        <label class="form-check-label" for="flexSwitchCheckSpirit">{{ fluent(key="spirit", lang=lang )}}</label>
                    </div>
        
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="elemental" id="flexSwitchCheckElemental" {%if 'Elemental' in creature.tags %}checked{% endif %}>
                        <label class="form-check-label" for="flexSwitchCheckElemental">{{ fluent(key="elemental", lang=lang )}}</label>
                    </div>
                </div>
            </div>
    
            <div class="col-md-4">
                <div class="input-grp">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="horror" id="flexSwitchCheckHorror" {%if 'Horror' in creature.tags %}checked{% endif %}>
                        <label class="form-check-label" for="flexSwitchCheckHorror">{{ fluent(key="horror", lang=lang )}}</label>
                    </div>
        
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="dragon" id="flexSwitchCheckDragon" {%if 'Dragon' in creature.tags %}checked{% endif %}>
                        <label class="form-check-label" for="flexSwitchCheckDragon">{{ fluent(key="dragon", lang=lang )}}</label>
                    </div>
        
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="horror_construct" id="flexSwitchCheckHC" {%if 'HorrorConstruct' in creature.tags %}checked{% endif %}>
                        <label class="form-check-label" for="flexSwitchCheckHC">{{ fluent(key="horror-construct", lang=lang )}}</label>
                    </div>
                </div>
            </div>
    
                <div class="col-md-4">
                    <div class="input-grp">
    
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="adept" id="flexSwitchCheckAdept" {%if 'Adept' in creature.tags %}checked{% endif %}>
                        <label class="form-check-label" for="flexSwitchCheckAdept">{{ fluent(key="adept", lang=lang )}}</label>
                    </div>
        
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="npc" id="flexSwitchCheckNPC" {%if 'NPC' in creature.tags %}checked{% endif %}>
                        <label class="form-check-label" for="flexSwitchCheckNPC">{{ fluent(key="npc", lang=lang )}}</label>
                    </div>
        
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="other" id="flexSwitchCheckOther" {%if 'Other' in creature.tags %}checked{% endif %}>
                        <label class="form-check-label" for="flexSwitchCheckOther">{{ fluent(key="other", lang=lang )}}</label>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <label>{{ fluent(key="found-in", lang=lang )}}</label>
        <div class="row">
            <div class="col-md-4">
                <div class="input-grp">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="jungle" id="flexSwitchCheckJungle" {%if 'Jungle' in creature.found_in %}checked{% endif %}>
                        <label class="form-check-label" for="flexSwitchCheckJungle">Jungle</label>
                    </div>
        
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="desert" id="flexSwitchCheckDesert" {%if 'Desert' in creature.found_in %}checked{% endif %}>
                        <label class="form-check-label" for="flexSwitchCheckDesert">Desert</label>
                    </div>
        
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="forest" id="flexSwitchCheckForest" {%if 'Forest' in creature.found_in %}checked{% endif %}>
                        <label class="form-check-label" for="flexSwitchCheckForest">Forest</label>
                    </div>
    
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="plains" id="flexSwitchCheckPlains" {%if 'Plains' in creature.found_in %}checked{% endif %}>
                        <label class="form-check-label" for="flexSwitchCheckPlains">Plains</label>
                    </div>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="input-grp">
    
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="urban" id="flexSwitchCheckUrban" {%if 'Urban' in creature.found_in %}checked{% endif %}>
                        <label class="form-check-label" for="flexSwitchCheckUrban">Urban</label>
                    </div>
        
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="mountain" id="flexSwitchCheckMountain" {%if 'Mountain' in creature.found_in %}checked{% endif %}>
                        <label class="form-check-label" for="flexSwitchCheckMountain">Mountain</label>
                    </div>
        
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="cavern" id="flexSwitchCheckCavern" {%if 'Cavern' in creature.found_in %}checked{% endif %}>
                        <label class="form-check-label" for="flexSwitchCheckCavern">Cavern</label>
                    </div>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="input-grp">
    
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="swamp" id="flexSwitchCheckSwamp" {%if 'Swamp' in creature.found_in %}checked{% endif %}>
                        <label class="form-check-label" for="flexSwitchCheckSwamp">Swamp</label>
                    </div>
        
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="kaer" id="flexSwitchCheckKaer" {%if 'Kaer' in creature.found_in %}checked{% endif %}>
                        <label class="form-check-label" for="flexSwitchCheckKaer">Kaer</label>
                    </div>
        
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="any" id="flexSwitchCheckAny" {%if 'Any' in creature.found_in %}checked{% endif %}>
                        <label class="form-check-label" for="flexSwitchCheckAny">Any</label>
                    </div>
                </div>
            </div>
        </div>
    <hr>

    <div class="form-group">
        <label for="creatureDescription">{{ fluent(key="creature-description", lang=lang )}}</label>
        <textarea class="form-control" name="description" id="description" rows="5" placeholder="{{ fluent(key="creature-description", lang=lang )}}">{{ creature.description }}</textarea>
      </div>

    <hr>

  <h2>{{ fluent(key="attributes", lang=lang )}}</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <ul>
            <div>
                <label>{{ fluent(key="dexterity", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="dexterity" min="1" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="{{ creature.dexterity }}" required>
            </div>
        </ul>
        <ul>
            <div>
                <label>{{ fluent(key="strength", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="strength" min="1" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="{{ creature.strength }}" required>
            </div>
        </ul>
        <ul>
            <div>
                <label>{{ fluent(key="constitution", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="constitution" min="1" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="{{ creature.constitution }}" required>
            </div>
        </ul>
        <ul>
            <div>
                <label>{{ fluent(key="perception", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="perception" min="1" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="{{ creature.perception }}" required>
            </div>
        </ul>
        <ul>
            <div>
                <label>{{ fluent(key="willpower", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="willpower" min="1" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="{{ creature.willpower }}" required>
            </div>
        </ul>
        <ul>
            <div>
                <label>{{ fluent(key="charisma", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="charisma" min="1" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="{{ creature.charisma }}" required>
            </div>
        </ul>
      </div>
      <div class="col-sm">
        <ul>
            <div>
                <label>{{ fluent(key="initiative", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="initiative" min="1" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="{{ creature.initiative }}" required>
            </div>
        </ul>
        <ul>
            <div>
                <label>{{ fluent(key="physical-defense", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="pd" min="1" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="{{ creature.pd }}" required>
            </div>
        </ul>
        <ul>
            <div>
                <label>{{ fluent(key="mystic-defense", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="md" min="1" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="{{ creature.md }}" required>
            </div>
        </ul>
        <ul>
            <div>
                <label>{{ fluent(key="social-defense", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="sd" min="1" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="{{ creature.sd }}" required>
            </div>
        </ul>
        <ul>
            <div>
                <label>{{ fluent(key="physical-armor", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="pa" min="0" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="{{ creature.pa }}" required>
            </div>
        </ul>
        <ul>
            <div>
                <label>{{ fluent(key="mystic-armor", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="ma" min="0" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="{{ creature.ma }}" required>
            </div>
        </ul>
      </div>
      <div class="col-sm">
        <ul>
            <div>
                <label>{{ fluent(key="unconscious-rating", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="unconsciousness_rating" min="1" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="{{ creature.unconsciousness_rating }}" required>
            </div>
        </ul>
        <ul>
            <div>
                <label>{{ fluent(key="death-rating", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="death_rating" min="1" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="{{ creature.death_rating }}" required>
            </div>
        </ul>
        <ul>
            <div>
                <label>{{ fluent(key="wound-rating", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="wound" min="1" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="{{ creature.wound }}" required>
            </div>
        </ul>
        <ul>
            <div>
                <label>{{ fluent(key="knockdown", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="knockdown" min="1" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="{{ creature.knockdown }}" required>
            </div>
        </ul>
        <ul>
            <div>
                <label>{{ fluent(key="recovery-rolls", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="recovery_rolls" min="0" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="{{ creature.recovery_rolls }}" required>
            </div>
        </ul>
        <ul>
            <div>
                <label>{{ fluent(key="karma", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="karma" min="0" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="{{ creature.karma }}" required>
            </div>
        </ul>
      </div>
    </div>
    <div class="row">
        <ul>
                <div>
                    <label>{{ fluent(key="movement", lang=lang )}}</label><br>
                    <input class="form-control form-control-lg" type="text" name="movement" placeholder="Add movement here..." size=60 value="{{ creature.movement }}" required>
                </div>
                <div>
                    <label>{{ fluent(key="actions", lang=lang )}}</label><br>
                    <input class="form-control form-control-lg" type="number" name="actions" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="{{ creature.actions }}" required>
                </div>
        </ul>
    </div>
    
    {% if session_user != "" %}
    <button class="btn btn-primary" type="submit">{{ fluent(key="save-button", lang=lang )}}</button>
    <a class="btn btn-info" href="/{{ lang }}/creature/view/{{ creature.slug }}">{{ fluent(key="cancel-button", lang=lang )}}</a>
    {% endif %}
  <hr>
  </div>
    </form>
</div> <!-- End of Creature -->

<div
    class="container" 
    id="attacks"
    hx-target="this"
    hx-swap="outerHTML"
>
    <div class="row">
      <h3>{{ fluent(key="attacks", lang=lang )}}</h3><br>
    </div>
      {% if attacks %}
      {% for attack in attacks %}
      <div 
        id="attack-{{ attack.id }}"
        hx-target="this"
        hx-swap="outerHTML"
      >
        <li><strong>{{ attack.name }}</strong>: {{ attack.action_step}} ({{ attack.effect_step }}){% if attack.details %}: {{ attack.details }}{% endif %}   
        <button
          hx-get="/{{ lang }}/edit_attack/{{ attack.id }}"
          hx-target="#attack-{{ attack.id }}"
          class="btn btn-info btn-sm"
        >{{ fluent(key="edit-button", lang=lang )}}</button> 
        <button
          hx-get="/{{ lang }}/delete_attack/{{ attack.id }}"
          hx-target="#attack-{{ attack.id }}"
          class="btn btn-danger btn-sm"
        >{{ fluent(key="delete-button", lang=lang )}}</button>
        </li>
      </div> <!-- end-div htmx -->
      {% endfor %} <!-- attacks -->
      {% endif %}
      <br>
      <button
        class="btn btn-dark"
        hx-get="/{{ lang }}/add_attack/{{ creature.id }}"
        hx-target="this"
        hx-swap="outerHTML"
        >
        {{ fluent(key="add-an-attack", lang=lang )}}
      </button>
      
      <hr>
</div>
    
<div
class="container" 
id="powers"
hx-target="this"
hx-swap="outerHTML"
>
<div class="row">
  <h3>{{ fluent(key="powers-abilities-spells", lang=lang )}}</h3><br>
</div>
  {% if powers %}
  {% for power in powers %}
  <div 
    id="power-{{ power.id }}"
    hx-target="this"
    hx-swap="outerHTML"
  >
    <li>
        <strong>{{ power.name }}</strong> ({{ power.action_type }} vs. {{ power.target }}): {{ power.action_step}} ({{ power.effect_step }}{% if power.resisted_by != 'NotApplicable' %}/<i>{{ power.resisted_by }}</i>{% endif %}){% if power.details %}: {{ power.details }}{% endif %}   
        <button
        hx-get="/{{ lang }}/edit_power/{{ power.id }}"
        hx-target="#power-{{ power.id }}"
        class="btn btn-info btn-sm"
        >{{ fluent(key="edit-button", lang=lang )}}</button> 
        <button
            hx-get="/{{ lang }}/delete_power/{{ power.id }}"
            hx-target="#power-{{ power.id }}"
            class="btn btn-danger btn-sm"
        >{{ fluent(key="delete-button", lang=lang )}}</button>
    </li>
  </div> <!-- end-div htmx -->
  {% endfor %} <!-- powers -->
  {% endif %}
  <br>
  <button
    class="btn btn-dark"
    hx-get="/{{ lang }}/add_power/{{ creature.id }}"
    hx-target="this"
    hx-swap="outerHTML"
    >
    {{ fluent(key="add-power-ability-spell", lang=lang )}}
  </button>
  
  <hr>
</div>

<div
    class="container" 
    id="talents"
    hx-target="this"
    hx-swap="outerHTML"
>
    <div class="row">
        <h3>{{ fluent(key="talents", lang=lang )}}</h3><br>
    </div>
{% if talents %}
        {% for talent in talents %}
        <div 
          id="talent-{{ talent.id }}"
          hx-target="this"
          hx-swap="outerHTML"
        >
        <li>
          <strong>{{ talent.name }}</strong> {{ talent.action_step}}
          <button
            hx-get="/{{ lang }}/edit_talent/{{ talent.id }}"
            hx-target="#talent-{{ talent.id }}"
            class="btn btn-info btn-sm"
          >{{ fluent(key="edit-button", lang=lang )}}</button> 
          <button
            hx-get="/{{ lang }}/delete_talent/{{ talent.id }}"
            hx-target="#talent-{{ talent.id }}"
            class="btn btn-danger btn-sm"
          >{{ fluent(key="delete-button", lang=lang )}}</button>
        </li>
        </div> <!-- end-div htmx -->
        {% endfor %} <!-- talents -->
      {% endif %}
      <br>
      <button
        class="btn btn-dark"
        hx-get="/{{ lang }}/add_talent/{{ creature.id }}"
        hx-target="this"
        hx-swap="outerHTML"
        >
        {{ fluent(key="add-a-talent", lang=lang )}}
      </button>
      <hr>
</div>

<div
    class="container" 
    id="maneuvers"
    hx-target="this"
    hx-swap="outerHTML"
>
    <div class="row">
      <h3>{{ fluent(key="special-maneuvers", lang=lang )}}</h3><br>
    </div>
      {% if maneuvers %}
      {% for maneuver in maneuvers %}
      <div 
        id="maneuver-{{ maneuver.id }}"
        hx-target="this"
        hx-swap="outerHTML"
      >
      <li><strong>{{ maneuver.name }}</strong> [{{ maneuver.source}}]: {{ maneuver.details }} 
            <button
            hx-get="/{{ lang }}/edit_maneuver/{{ maneuver.id }}"
            hx-target="#maneuver-{{ maneuver.id }}"
            class="btn btn-info btn-sm"
            >{{ fluent(key="edit-button", lang=lang )}}</button> 
            <button
            hx-get="/{{ lang }}/delete_maneuver/{{ maneuver.id }}"
            hx-target="#maneuver-{{ maneuver.id }}"
            class="btn btn-danger btn-sm"
            >{{ fluent(key="delete-button", lang=lang )}}</button>
        </li>
      </div> <!-- end-div htmx -->
      {% endfor %} <!-- maneuvers -->
      {% endif %}
      <br>
      <button
        class="btn btn-dark"
        hx-get="/{{ lang }}/add_maneuver/{{ creature.id }}"
        hx-target="this"
        hx-swap="outerHTML"
        >
        Add a Maneuver
      </button>
      
      <hr>
</div>

  {% endblock content %}