{% extends "base.html" %}

{% block title %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content={{ fluent(key="app-description", lang=lang )}}>
      <meta name="author" content="ToferC">
      <meta property="og:title" content="{{ creature.name }}">
      <title>{{ creature.name }} - {{ fluent(key="app-name", lang=lang )}}</title>
{% endblock title %}

{% block content %}

{% set attacks_len = attacks | length %}
{% set powers_len = powers | length %}

<div class="container">
  <br>
  <h1>{{ creature.name | title | safe }}
    <a
      href="/{{ lang }}/creature/view/{{ creature.slug }}" 
      class="btn btn-info">
      Return to View
    </a>
  </h1>

  <h4>{{ fluent(key="circle", lang=lang )}}: {{ creature.circle_rank }}</h4>
  <h4>{{ fluent(key="rarity", lang=lang )}}: {{ creature.rarity }}</h4>
  <h4>{{ fluent(key="found-in", lang=lang )}}: {% for location in creature.found_in %}
    <button
      hx-get="/{{ lang }}/location/{{ location }}"
      hx-trigger="click"
      hx-target="#main-body"
      hx-swap="outerHTML"
      class="btn btn-sm btn-info" 
      >{{ location }}
    </button>
    {% endfor %}</h4>
    <small>Created at: {{ creature.created_at | date(format="%Y-%m-%d %H:%M") }}</small>
    <small>Updated at: {{ creature.updated_at | date(format="%Y-%m-%d %H:%M") }}</small>

    <hr>

  <h3>Attributes</h3>
  <div>
    <div class="row">
      <div class="col col-md col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <table style="Table-Layout:fixed">
            <tr>
                <td>{{ fluent(key="dex", lang=lang )}}</td>
                <td 
                  style="text-align:center"
                  class="step"
                  id="dexterity"
                >{{ creature.dexterity }}</td>
                <td style="text-align:center" id="dexterity-step">{{ steps | nth(n=creature.dexterity - 1) }}</td>
            </tr>
            <tr>
                <td>{{ fluent(key="str", lang=lang )}}</td>
                <td 
                  style="text-align:center"
                  class="step"
                  id="strength"
                >{{ creature.strength }}</td>
                <td style="text-align:center" id="strength-step">{{ steps | nth(n=creature.strength - 1) }}</td>
            </tr>
            <tr>
                <td>{{ fluent(key="con", lang=lang )}}</td>
                <td 
                  style="text-align:center"
                  class="step"
                  id="constitution"
                >{{ creature.constitution }}</td>
                <td style="text-align:center" id="constitution-step">{{ steps | nth(n=creature.strength - 1) }}</td>
            </tr>
            <tr>
                <td>{{ fluent(key="per", lang=lang )}}</td>
                <td 
                  style="text-align:center"
                  class="step"
                  id="perception"
                >{{ creature.perception }}</td>
                <td style="text-align:center" id="perception-step">{{ steps | nth(n=creature.perception - 1) }}</td>
            </tr>
            <tr>
                <td>{{ fluent(key="wil", lang=lang )}}</td>
                <td 
                  style="text-align:center"
                  class="step"
                  id="willpower"
                >{{ creature.willpower }}</td>
                <td style="text-align:center" id="willpower-step">{{ steps | nth(n=creature.willpower - 1) }}</td>
            </tr>
            <tr>
                <td>{{ fluent(key="cha", lang=lang )}}</td>
                <td 
                  style="text-align:center"
                  class="step"
                  id="charisma"
                >{{ creature.charisma }}</td>
                <td style="text-align:center" id="charisma-step">{{ steps | nth(n=creature.charisma - 1) }}</td>
            </tr>
          </table>
          <br>

          <table>
            <tr>
              <td>
                {{ fluent(key="movement", lang=lang )}}
              </td>
              <td style="text-align:center">
                {{ creature.movement }}
              </td>
            </tr>
            <tr>
              <td>
                {{ fluent(key="actions", lang=lang )}}
              </td>
              <td style="text-align:center">
                {{ creature.actions }}
              </td>
            </tr>
        </table>
        <br>

      </div>
      <div class="col col-md col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <table style="Table-Layout:fixed">
          <tr>
            <td>{{ fluent(key="initiative", lang=lang )}}</td>
            <td style="text-align:center" id="initiative">{{ creature.initiative }}</td>
            <td style="text-align:center" id="initiative-step">{{ steps | nth(n=creature.initiative - 1) }}</td>
          </tr>
          <tr>
            <td>PD</td>
            <td style="text-align:center">{{ creature.pd }}</td>
          </tr>
          <tr>
            <td>MD</td>
            <td style="text-align:center">{{ creature.md }}</td>
          </tr>
          <tr>
            <td>SD</td>
            <td style="text-align:center">{{ creature.sd }}</td>
          </tr>
          <tr>
            <td>PA</td>
            <td style="text-align:center">{{ creature.pa }}</td>
          </tr>
          <tr>
            <td>MA</td>
            <td style="text-align:center">{{ creature.ma }}</td>
          </tr>
        </table>
        <br>
      </div>
      <br>
      <div class="col col-md col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <table style="Table-Layout:fixed">
          <tr>
            <td>{{ fluent(key="uncon", lang=lang )}}</td>
            <td style="text-align:center" id="unconsciousness_rating">{{ creature.unconsciousness_rating }}</td>
            <td style="text-align:center" id="unconsciousness_max">{{ creature.unconsciousness_rating }}</td>
          </tr>  
          <tr>
            <td>{{ fluent(key="death", lang=lang )}}</td>
            <td style="text-align:center" id="death_rating">{{ creature.death_rating }}</td>
            <td style="text-align:center" id="death_max">{{ creature.death_rating }}</td>
          </tr>  
          <tr>
            <td>{{ fluent(key="wound", lang=lang )}}</td>
            <td style="text-align:center">{{ creature.wound }}</td>
          </tr>  
          <tr>
            <td>{{ fluent(key="kd", lang=lang )}}</td>
            <td style="text-align:center" id="knockdown">{{ creature.knockdown }}</td>
            <td style="text-align:center" id="knockdown-step">{{ steps | nth(n=creature.knockdown - 1) }}</td>
          </tr>  
          <tr>
            <td>{{ fluent(key="recovery", lang=lang )}}</td>
            <td style="text-align:center">{{ creature.recovery_rolls }}</td>
          </tr>  
          <tr>
            <td>{{ fluent(key="karma", lang=lang )}}</td>
            <td style="text-align:center">{{ creature.karma }}</td>
          </tr>  
        </table>
      </div>
    </div>
    <hr>
      <div class="row">
        <table>
          <tr>
            <td style="text-align:center">{{ fluent(key="damage", lang=lang )}}</td>
            <td
              id="damage"
              style="text-align:center"
            >0</td>
            <td style="text-align:center">
              <button
                id="damage_add_1"
                class="btn btn-danger"
                onclick="addOneDamage()"
                >+1
              </button> 
            </td>
            <td style="text-align:center">
              <button
                id="damage_add_5"
                class="btn btn-danger"
                onclick="addFiveDamage()"
              >+5
            </button>
            </td>
            <td style="text-align:center">
              <button
                id="damage_subtract_1"
                class="btn btn-primary" 
                onclick="subtractOneDamage()"
              >-1
            </button> 
            </td>
            <td style="text-align:center">
              <button
                id="damage_subtract_5" 
                class="btn btn-primary"
                onclick="subtractFiveDamage()"
              >-5
            </button>
            </td>
          </tr>
        </table>
      </div>
      <hr>

      <div class="row">
        <table>
          <tr>
            <td style="text-align:center">{{ fluent(key="wounds", lang=lang )}}</td>
            <td
              id="wounds"
              type="number"
              min="0"
              style="text-align:center"
            >0</td>
            <td style="text-align:center">
              <button
                id="wound_add_1"
                class="btn btn-danger"
                onclick="addOneWound()"
                >+1
              </button> 
            </td>
            <td style="text-align:center">
              <button
                id="wound_subtract_1"
                class="btn btn-primary" 
                onclick="subtractOneWound()"
              >-1
            </button> 
            </td>
          </tr>
        </table>
      </div>
    <hr>

    <div class="row">
      <table>
        <tr>
          <td style="text-align:center">{{ fluent(key="action-step-penalty", lang=lang )}}</td>
          <td
            id="penalties"
            type="number"
            min="0"
            style="text-align:center"
          >0</td>
          <td style="text-align:center">
            <button
              id="penalty_add_1"
              class="btn btn-danger"
              onclick="addOnePenalty()"
              >+1
            </button> 
          </td>
          <td style="text-align:center">
            <button
              id="penalty_subtract_1"
              class="btn btn-primary" 
              onclick="subtractOnePenalty()"
            >-1
          </button> 
          </td>
        </tr>
      </table>
      </div>
  <hr>
    
  </div>
</div> <!-- End of Creature -->

<div class="container">
  <div class="row">
    <h3>Attacks</h3><br>
  </div>
    {% if attacks %}
      {% for attack in attacks %}
      <table style="Table-Layout:fixed">
        <tr>
          <th style="text-align:center">{{ fluent(key="name", lang=lang )}}</th>
          <th style="text-align:center">{{ fluent(key="action", lang=lang )}}</th>
          <th style="text-align:center">{{ fluent(key="action-step", lang=lang )}}</th>
          <th style="text-align:center">{{ fluent(key="effect", lang=lang )}}</th>
          <th style="text-align:center">{{ fluent(key="effect-step", lang=lang )}}</th>
        </tr>
        <tr>
          <td id="attack_name-{{ loop.index0 }}" style="text-align:center">
            {{ attack.name }}
          </td>
          <td id="attack-action_step-{{ loop.index0 }}" style="text-align:center">
            {{ attack.action_step }}
          </td>
          <td id="attack-action_dice-{{ loop.index0 }}" style="text-align:center">
            {{ steps | nth(n=attack.action_step - 1) }}
          </td>
          <td id="attack-effect_step-{{ loop.index0 }}" style="text-align:center">
            {{ attack.effect_step }}
          </td>
          <td id="attack-effect_dice-{{ loop.index0 }}" style="text-align:center">
            {{ steps | nth(n=attack.effect_step - 1) }}
          </td>
        </tr>
        </table>
        {% if attack.details %}
        <table>
          <tr>
              <td class="text">{{ attack.details }}</td>
          </tr>
        </table>
        {% endif %}
      </table>
      <br>
      {% endfor %} <!-- attacks -->
    {% else %}
        <li>None</li>
    {% endif %}

<hr>

    <div class="row">
      <h3>{{ fluent(key="powers-abilities-spells", lang=lang )}}</h3><br>
    </div> 
      {% if powers %}
        {% for power in powers %}
        <table style="Table-Layout:fixed">
          <tr>
            <th style="text-align:center">{{ fluent(key="name", lang=lang )}}</th>
            <th style="text-align:center">{{ fluent(key="action-type", lang=lang )}}</th>
            {% if power.target != 'NotApplicable' %}
            <th style="text-align:center">{{ fluent(key="target", lang=lang )}}</th>
            {% endif %}
            <th style="text-align:center">{{ fluent(key="action-step", lang=lang )}}</th>
            <th style="text-align:center">{{ fluent(key="action-dice", lang=lang )}}</th>
            {% if power.effect_step %}
            <th style="text-align:center">{{ fluent(key="effect-step", lang=lang )}}</th>
            <th style="text-align:center">{{ fluent(key="effect-dice", lang=lang )}}</th>
            {% endif %}
            {% if power.resisted_by != 'NotApplicable' %}
            <th style="text-align:center">{{ fluent(key="resisted-by", lang=lang )}}</th>
            {% endif %}
          </tr>
          <tr>
            <td id="power_name-{{ loop.index0 }}" style="text-align:center">
              {{ power.name }}
            </td>
            <td id="power_action_type-{{ loop.index0 }}" style="text-align:center">
              {{ power.action_type }}
            </td>
            {% if power.target != 'NotApplicable' %}
            <td id="power_target-{{ loop.index0 }}" style="text-align:center">
              {% if power.target == "PhysicalDefense" %}
              PD
              {% elif power.target == "MysticDefense" %}
              MD
              {% elif power.target == "SocialDefense" %}
              SD
              {% elif power.target == "Other" %}
              Other
              {% endif %}
            </td>
            {% endif %}
            <td id="power-action_step-{{ loop.index0 }}" style="text-align:center">
              {{ power.action_step }}
            </td>
            <td id="power-action_dice-{{ loop.index0 }}" style="text-align:center">
              {{ steps | nth(n=power.action_step - 1) }}
            </td>
            {% if power.effect_step %}
            <td id="power-effect_step-{{ loop.index0 }}" style="text-align:center">
              {{ power.effect_step }}
            </td>
            <td id="power-effect_dice-{{ loop.index0 }}" style="text-align:center">
              {{ steps | nth(n=power.effect_step - 1) }}
            </td>
            {% endif %}
            {% if power.resisted_by != 'NotApplicable' %}
            <td id="power_resisted_by-{{ loop.index0 }}" style="text-align:center">
              {{ power.resisted_by }}
            </td>
            {% endif %}
          </tr>
          </table>
          {% if power.details %}
          <table>
            <tr>
                <td class="text">{{ power.details }}</td>
            </tr>
          </table>
          {% endif %}
        </table>
        <br>
        {% endfor %}
      {% else %}
      <li>None</li>
      {% endif %}  
  </div>

<hr>

<div class="row">
  <h3>{{ fluent(key="special-maneuvers", lang=lang )}}</h3><br>
</div> 
  {% if maneuvers %}
  <table>
    <tr>
      <th>{{ fluent(key="name", lang=lang )}}</th>
      <th>{{ fluent(key="source", lang=lang )}}</th>
      <th>{{ fluent(key="description", lang=lang )}}</th>
    </tr>
    {% for maneuver in maneuvers %}
    <tr>
      <td style="text-align:center">{{ maneuver.name }}</td>
      <td style="text-align:center">{{ maneuver.source}}</td>
      <td  class="text">{{ maneuver.details }} </td>
    </tr>
      {% endfor %}
    </table>
  {% else %}
  <li>None</li>
  {% endif %}  
</div>

  <script type="text/javascript">

    const selectUncon = document.getElementById('unconsciousness_rating')
    const selectUnconMax = document.getElementById('unconsciousness_max')

    const dexterity = document.getElementById('dexterity')
    const strength = document.getElementById('strength')
    const constitution = document.getElementById('constitution')
    const perception = document.getElementById('perception')
    const willpower = document.getElementById('willpower')
    const charisma = document.getElementById('charisma')
    const initiative = document.getElementById('initiative')
    const knockdown = document.getElementById('knockdown')

    const selectDeath = document.getElementById('death_rating')
    const selectDeathMax = document.getElementById('death_max')
    const damageCounter = document.getElementById('damage')
    const woundCounter = document.getElementById('wounds')
    const penaltyCounter = document.getElementById('penalties')

    const steps = "{{ steps }}".replace("[", "").split(", ");
    trim
    function addFiveDamage() {

      damageCounter.innerHTML = parseInt(damageCounter.innerHTML) + 5;

      updateDamage();
    }

    function subtractFiveDamage() {

      val = parseInt(damageCounter.innerHTML);

      if (val - 5 <= 0) {
        damageCounter.innerHTML = 0;
      } else {
        damageCounter.innerHTML = val - 5;
      };

      updateDamage();
    }

    function addOneDamage() {

      val = parseInt(damageCounter.innerHTML);

      damageCounter.innerHTML = val + 1;

      updateDamage();
    }
    
    function subtractOneDamage() {

      val = parseInt(damageCounter.innerHTML);

      if (val -1 <= 0) {
        damageCounter.innerHTML = 0;
      } else {
        damageCounter.innerHTML = val - 1;
      };

      updateDamage();
    }
    
    function updateDamage() {

      val = parseInt(damageCounter.innerHTML);

      uncon = parseInt(selectUnconMax.innerHTML);
      death = parseInt(selectDeathMax.innerHTML);

      selectUncon.innerHTML = uncon - val;
      selectDeath.innerHTML = death - val;
    }

    function addOneWound() {
      val = parseInt(woundCounter.innerHTML) + 1;

      woundCounter.innerHTML = val
      updateWounds(1);
    }
    
    function subtractOneWound() {
      val = parseInt(woundCounter.innerHTML) - 1;

      if (val < 0) {
        val = 0
        
      } else {
        woundCounter.innerHTML = val
        updateWounds(-1);
      };
    }

    function addOnePenalty() {
      val = parseInt(penaltyCounter.innerHTML) + 1;

      penaltyCounter.innerHTML = val
      updateActionPenalty(1);
    }
    
    function subtractOnePenalty() {
      val = parseInt(penaltyCounter.innerHTML) - 1;

      if (val < 0) {
        val = 0
        
      } else {
        penaltyCounter.innerHTML = val
        updateActionPenalty(-1);
      };
    }

    function updateWounds(val) {

      dex = Math.min(Math.max(parseInt(dexterity.innerHTML) - val, 1), parseInt("{{ creature.dexterity }}"));
      str = Math.min(Math.max(parseInt(strength.innerHTML) - val, 1), parseInt("{{ creature.strength }}"));
      con = Math.min(Math.max(parseInt(constitution.innerHTML) - val, 1), parseInt("{{ creature.constitution }}"));
      per = Math.min(Math.max(parseInt(perception.innerHTML) - val, 1), parseInt("{{ creature.perception }}"));
      wil = Math.min(Math.max(parseInt(willpower.innerHTML) - val, 1), parseInt("{{ creature.willpower }}"));
      cha = Math.min(Math.max(parseInt(charisma.innerHTML) - val, 1), parseInt("{{ creature.charisma }}"));
      ini = Math.min(Math.max(parseInt(initiative.innerHTML) - val, 1), parseInt("{{ creature.initiative }}"));
      kno = Math.min(Math.max(parseInt(knockdown.innerHTML) - val, 1), parseInt("{{ creature.knockdown }}"));

      dexterity.innerHTML = dex;
      strength.innerHTML = str;
      constitution.innerHTML = con;
      perception.innerHTML = per;
      willpower.innerHTML = wil;
      charisma.innerHTML = cha;
      initiative.innerHTML = ini;
      knockdown.innerHTML = kno;

      getStep("dexterity-step", dex);
      getStep("strength-step", str);
      getStep("constitution-step", con);
      getStep("perception-step", per);
      getStep("willpower-step", wil);
      getStep("charisma-step", cha);
      getStep("initiative-step", ini);
      getStep("knockdown-step", kno);

      updateAttacks(val);
      updatePowers(val);
    }

    function updateActionPenalty(val) {

      dex = Math.min(Math.max(parseInt(dexterity.innerHTML) - val, 1), parseInt("{{ creature.dexterity }}"));
      per = Math.min(Math.max(parseInt(perception.innerHTML) - val, 1), parseInt("{{ creature.perception }}"));
      cha = Math.min(Math.max(parseInt(charisma.innerHTML) - val, 1), parseInt("{{ creature.charisma }}"));
      ini = Math.min(Math.max(parseInt(initiative.innerHTML) - val, 1), parseInt("{{ creature.initiative }}"));
      kno = Math.min(Math.max(parseInt(knockdown.innerHTML) - val, 1), parseInt("{{ creature.knockdown }}"));

      dexterity.innerHTML = dex;
      perception.innerHTML = per;
      charisma.innerHTML = cha;
      initiative.innerHTML = ini;
      knockdown.innerHTML = kno;

      getStep("dexterity-step", dex);
      getStep("perception-step", per);
      getStep("charisma-step", cha);
      getStep("initiative-step", ini);
      getStep("knockdown-step", kno);

      updateAttackActions(val);
      updatePowerActions(val);
    }

    function updateAttacks(val) {

      for (let i=0; i < parseInt(`{{ attacks_len }}`); i++) {

        action = document.getElementById(`attack-action_step-${i}`);
        effect = document.getElementById(`attack-effect_step-${i}`);

        action_step = Math.max(parseInt(action.innerHTML) - val, 1);
        effect_step = Math.max(parseInt(effect.innerHTML) - val, 1);

        action.innerHTML = action_step;
        effect.innerHTML = effect_step;

        getStep(`attack-action_dice-${i}`, action_step);
        getStep(`attack-effect_dice-${i}`, effect_step);
      }
    }

    function updateAttackActions(val) {

      for (let i=0; i < parseInt(`{{ attacks_len }}`); i++) {

        action = document.getElementById(`attack-action_step-${i}`);

        action_step = Math.max(parseInt(action.innerHTML) - val, 1);

        action.innerHTML = action_step;

        getStep(`attack-action_dice-${i}`, action_step);
      }
    }

    function updatePowers(val) {

      for (let i=0; i < parseInt(`{{ powers_len }}`); i++) {

        action = document.getElementById(`power-action_step-${i}`);
        effect = document.getElementById(`power-effect_step-${i}`);

        action_step = Math.max(parseInt(action.innerHTML) - val, 1);
        effect_step = Math.max(parseInt(effect.innerHTML) - val, 1);

        action.innerHTML = action_step;
        effect.innerHTML = effect_step;

        getStep(`power-action_dice-${i}`, action_step);
        getStep(`power-effect_dice-${i}`, effect_step);

      }
    }

    function updatePowerActions(val) {

      for (let i=0; i < parseInt(`{{ powers_len }}`); i++) {

        action = document.getElementById(`power-action_step-${i}`);

        action_step = Math.max(parseInt(action.innerHTML) - val, 1);

        action.innerHTML = action_step;

        getStep(`power-action_dice-${i}`, action_step);
      }
    }

    function getStep(id, num) {

      e = document.getElementById(id);

      var inum = parseInt(num) - 1;

      e.innerHTML = steps[inum]
    }
  </script>

{% endblock content %}