{% extends "base.html" %}

{% block content %}

<div 
    id="{{creature.slug}}-content"
>
    <form
        action="/{{ lang }}/post_creature"
        method="POST"
    >
        <div>
            <label>{{ fluent(key="creature-name", lang=lang )}}</label><br>
            <input class="form-control form-control-lg" type="text" name="name" placeholder="Add name here..." size=60 value="" required>
        </div>
        <br>

        <div>
            <label>{{ fluent(key="circle", lang=lang )}}</label><br>
            <input class="form-control form-control-lg" type="number" name="circle_rank" placeholder="1" size=60 value="" required>
        </div>

        <div>
            <label for="rarity">{{ fluent(key="rarity", lang=lang )}}</label>
            <select name="rarity" id="rarity_select">
                <option selected value="Common">{{ fluent(key="common", lang=lang )}}</option>
                <option value="Uncommon">{{ fluent(key="uncommon", lang=lang )}}</option>
                <option value="Rare">{{ fluent(key="rare", lang=lang )}}</option>
                <option value="Unique">{{ fluent(key="unique", lang=lang )}}</option>
            </select>
        </div>

        <hr>

        <label>{{ fluent(key="tags", lang=lang )}}</label>
        <div class="row">
            <div class="col-md-4">
                <div class="input-grp">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="creature" id="flexSwitchCheckDefault" {%if 'Creature' in creature.tags %}checked{% endif %}>
                        <label class="form-check-label" for="flexSwitchCheckDefault">{{ fluent(key="creature", lang=lang )}}</label>
                    </div>
        
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="spirit" id="flexSwitchCheckDefault" {%if 'Spirit' in creature.tags %}checked{% endif %}>
                        <label class="form-check-label" for="flexSwitchCheckDefault">{{ fluent(key="spirit", lang=lang )}}</label>
                    </div>
        
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="elemental" id="flexSwitchCheckDefault" {%if 'Elemental' in creature.tags %}checked{% endif %}>
                        <label class="form-check-label" for="flexSwitchCheckDefault">{{ fluent(key="elemental", lang=lang )}}</label>
                    </div>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="input-grp">
    
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="horror" id="flexSwitchCheckDefault" {%if 'Horror' in creature.tags %}checked{% endif %}>
                        <label class="form-check-label" for="flexSwitchCheckDefault">{{ fluent(key="horror", lang=lang )}}</label>
                    </div>
        
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="dragon" id="flexSwitchCheckDefault" {%if 'Dragon' in creature.tags %}checked{% endif %}>
                        <label class="form-check-label" for="flexSwitchCheckDefault">{{ fluent(key="dragon", lang=lang )}}</label>
                    </div>
        
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="horror_construct" id="flexSwitchCheckDefault" {%if 'HorrorConstruct' in creature.tags %}checked{% endif %}>
                        <label class="form-check-label" for="flexSwitchCheckDefault">{{ fluent(key="horror-construct", lang=lang )}}</label>
                    </div>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="input-grp">
    
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="adept" id="flexSwitchCheckDefault" {%if 'Adept' in creature.tags %}checked{% endif %}>
                        <label class="form-check-label" for="flexSwitchCheckDefault">{{ fluent(key="adept", lang=lang )}}</label>
                    </div>
        
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="npc" id="flexSwitchCheckDefault" {%if 'NPC' in creature.tags %}checked{% endif %}>
                        <label class="form-check-label" for="flexSwitchCheckDefault">{{ fluent(key="npc", lang=lang )}}</label>
                    </div>
        
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="other" id="flexSwitchCheckDefault" {%if 'Other' in creature.tags %}checked{% endif %}>
                        <label class="form-check-label" for="flexSwitchCheckDefault">{{ fluent(key="other", lang=lang )}}</label>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <label>{{ fluent(key="found-in", lang=lang )}}</label>
        <div class="row">
            <div class="col-md-4">
                <div class="input-grp">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="jungle" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">{{ fluent(key="jungle", lang=lang )}}</label>
                    </div>
        
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="desert" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">{{ fluent(key="desert", lang=lang )}}</label>
                    </div>
        
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="forest" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">{{ fluent(key="forest", lang=lang )}}</label>
                    </div>
    
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="plains" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">{{ fluent(key="plains", lang=lang )}}</label>
                    </div>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="input-grp">
    
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="urban" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">{{ fluent(key="urban", lang=lang )}}</label>
                    </div>
        
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="mountain" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">{{ fluent(key="mountain", lang=lang )}}</label>
                    </div>
        
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="cavern" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">{{ fluent(key="cavern", lang=lang )}}</label>
                    </div>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="input-grp">
    
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="swamp" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">{{ fluent(key="swamp", lang=lang )}}</label>
                    </div>
        
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="kaer" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">{{ fluent(key="kaer", lang=lang )}}</label>
                    </div>
        
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="any" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">{{ fluent(key="any", lang=lang )}}</label>
                    </div>
                </div>
            </div>
        </div>

    <hr>

    <div class="form-group">
        <label for="creatureDescription">{{ fluent(key="creature-description", lang=lang )}}</label>
        <textarea class="form-control" name="description" id="description" rows="5" placeholder="{{ fluent(key="creature-description", lang=lang )}}"></textarea>
      </div>

    <hr>

  <label>{{ fluent(key="attributes", lang=lang )}}</label>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <ul>
            <div>
                <label>{{ fluent(key="dexterity", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="dexterity" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="" required>
            </div>
        </ul>
        <ul>
            <div>
                <label>{{ fluent(key="strength", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="strength" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="" required>
            </div>
        </ul>
        <ul>
            <div>
                <label>{{ fluent(key="constitution", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="constitution" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="" required>
            </div>
        </ul>
        <ul>
            <div>
                <label>{{ fluent(key="perception", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="perception" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="" required>
            </div>
        </ul>
        <ul>
            <div>
                <label>{{ fluent(key="willpower", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="willpower" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="" required>
            </div>
        </ul>
        <ul>
            <div>
                <label>{{ fluent(key="charisma", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="charisma" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="" required>
            </div>
        </ul>
      </div>
      <div class="col-sm">
        <ul>
            <div>
                <label>{{ fluent(key="initiative", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="initiative" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="" required>
            </div>
        </ul>
        <ul>
            <div>
                <label>{{ fluent(key="physical-defense", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="pd" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="" required>
            </div>
        </ul>
        <ul>
            <div>
                <label>{{ fluent(key="mystic-defense", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="md" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="" required>
            </div>
        </ul>
        <ul>
            <div>
                <label>{{ fluent(key="social-defense", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="sd" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="" required>
            </div>
        </ul>
        <ul>
            <div>
                <label>{{ fluent(key="physical-armor", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="pa" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="" required>
            </div>
        </ul>
        <ul>
            <div>
                <label>{{ fluent(key="mystic-armor", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="ma" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="" required>
            </div>
        </ul>
      </div>
      <div class="col-sm">
        <ul>
            <div>
                <label>{{ fluent(key="unconscious-rating", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="unconsciousness_rating" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="" required>
            </div>
        </ul>
        <ul>
            <div>
                <label>{{ fluent(key="death-rating", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="death_rating" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="" required>
            </div>
        </ul>
        <ul>
            <div>
                <label>{{ fluent(key="wound-rating", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="wound" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="" required>
            </div>
        </ul>
        <ul>
            <div>
                <label>{{ fluent(key="knockdown", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="knockdown" placeholder="Enter knockdown here" size=60 value="">
            </div>
        </ul>
        <ul>
            <div>
                <label>{{ fluent(key="recovery-rolls", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="recovery_rolls" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="" required>
            </div>
        </ul>
        <ul>
            <div>
                <label>{{ fluent(key="karma", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="karma" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="" required>
            </div>
        </ul>
      </div>
    </div>
    <div class="row">
        <ul>
                <div>
                    <label>{{ fluent(key="movement", lang=lang )}}</label><br>
                    <input class="form-control form-control-lg" type="text" name="movement" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="" required>
                </div>
                <div>
                <label>{{ fluent(key="actions", lang=lang )}}</label><br>
                <input class="form-control form-control-lg" type="number" name="actions" placeholder="{{ fluent(key="enter-value-here", lang=lang )}}" size=60 value="" required>
            </div>
        </ul>
    </div>
    
    {% if session_user != "" %}
    <button class="btn btn-primary" type="submit">Save</button>
    <a class="btn btn-info" href="/{{ lang }}/creature/{{ creature.slug }}">Cancel</a>
    {% endif %}
  <hr>
  </div>
    </form>
    <div>
        {{ fluent(key="add-attacks-later", lang=lang )}}
    </div>
</div> <!-- End of Creature -->

{% endblock content %}