<form hx-post="/{{ lang }}/post_mask_talent/{{ mask_id }}" hx-target="#mask-talents">
    <div class="mb-3">
        <label>{{ fluent(key="creature-name", lang=lang) }}</label>
        <input class="form-control" type="text" name="name" placeholder="Talent name..." required>
    </div>
    <div class="mb-3">
        <label>{{ fluent(key="action-step", lang=lang) }}</label>
        <input class="form-control" type="number" name="action_step" min="1" value="1" required>
    </div>
    <button class="btn btn-primary" type="submit">{{ fluent(key="save-button", lang=lang) }}</button>
    <a class="btn btn-secondary" href="/{{ lang }}/edit_mask/{{ mask_id }}">{{ fluent(key="cancel-button", lang=lang) }}</a>
</form>
