<div class="container" id="mask-attack-edit-{{ mask_attack.id }}">
    <form hx-post="/{{ lang }}/edit_mask_attack_post/{{ mask_attack.id }}" hx-target="#mask-attack-{{ mask_attack.id }}">
        <div class="mb-3">
            <label>{{ fluent(key="creature-name", lang=lang) }}</label>
            <input class="form-control" type="text" name="name" value="{{ mask_attack.name }}" required>
        </div>
        <div class="mb-3">
            <label>{{ fluent(key="action-step", lang=lang) }}</label>
            <input class="form-control" type="number" name="action_step" min="1" value="{{ mask_attack.action_step }}" required>
        </div>
        <div class="mb-3">
            <label>{{ fluent(key="effect-step", lang=lang) }}</label>
            <input class="form-control" type="number" name="effect_step" min="1" value="{{ mask_attack.effect_step }}" required>
        </div>
        <div class="mb-3">
            <label>{{ fluent(key="details", lang=lang) }}</label>
            <textarea class="form-control" name="details" rows="2">{% if mask_attack.details %}{{ mask_attack.details }}{% endif %}</textarea>
        </div>
        <button class="btn btn-primary" type="submit" hx-post="/{{ lang }}/edit_mask_attack_post/{{ mask_attack.id }}" hx-target="#mask-attack-edit-{{ mask_attack.id }}">{{ fluent(key="save-button", lang=lang) }}</button>
        <a class="btn btn-secondary" href="/{{ lang }}/edit_mask/{{ mask_attack.mask_id }}">{{ fluent(key="cancel-button", lang=lang) }}</a>
    </form>
</div>
