<div class="container" id="mask-talent-edit-{{ mask_talent.id }}">
    <form hx-post="/{{ lang }}/edit_mask_talent_post/{{ mask_talent.id }}" hx-target="#mask-talent-{{ mask_talent.id }}">
        <div class="mb-3">
            <label>{{ fluent(key="creature-name", lang=lang) }}</label>
            <input class="form-control" type="text" name="name" value="{{ mask_talent.name }}" required>
        </div>
        <div class="mb-3">
            <label>{{ fluent(key="action-step", lang=lang) }}</label>
            <input class="form-control" type="number" name="action_step" min="1" value="{{ mask_talent.action_step }}" required>
        </div>
        <button class="btn btn-primary" type="submit" hx-post="/{{ lang }}/edit_mask_talent_post/{{ mask_talent.id }}" hx-target="#mask-talent-edit-{{ mask_talent.id }}">{{ fluent(key="save-button", lang=lang) }}</button>
        <a class="btn btn-secondary" href="/{{ lang }}/edit_mask/{{ mask_talent.mask_id }}">{{ fluent(key="cancel-button", lang=lang) }}</a>
    </form>
</div>
