{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <h1>{{ fluent(key="masks", lang=lang) }}</h1>
    </div>

    {% if session_user != "" %}
    <div class="row mb-3">
        <a class="btn btn-primary" href="/{{ lang }}/new_mask_form">{{ fluent(key="new-mask", lang=lang) }}</a>
    </div>
    {% endif %}

    {% if masks %}
    <div class="row">
        {% for mask in masks %}
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ mask.name }}</h5>
                    {% if mask.description %}
                    <p class="card-text">{{ mask.description | truncate(length=100) }}</p>
                    {% endif %}
                    <p class="card-text"><small class="text-muted">Circle {{ mask.circle_rank > 0 }} | By {{ mask.creator_slug }}</small></p>
                    <a href="/{{ lang }}/mask/{{ mask.id }}" class="btn btn-info btn-sm">{{ fluent(key="view-button", lang=lang) }}</a>
                    {% if session_user == mask.creator_slug or role == "Admin" %}
                    <a href="/{{ lang }}/edit_mask/{{ mask.id }}" class="btn btn-secondary btn-sm">{{ fluent(key="edit-button", lang=lang) }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>{{ fluent(key="no-masks", lang=lang) }}</p>
    {% endif %}
</div>

{% endblock content %}
