<div class="container" id="mask-maneuvers" hx-target="this" hx-swap="outerHTML">
    <h3>{{ fluent(key="special-maneuvers", lang=lang) }}</h3>
    {% if mask_maneuvers %}
    {% for maneuver in mask_maneuvers %}
    <div id="mask-maneuver-{{ maneuver.id }}" hx-target="this" hx-swap="outerHTML">
        <li>
            <strong>{{ maneuver.name }}</strong> [{{ maneuver.source }}]: {{ maneuver.details }}
            <button hx-get="/{{ lang }}/edit_mask_maneuver/{{ maneuver.id }}" hx-target="#mask-maneuver-{{ maneuver.id }}" class="btn btn-info btn-sm">{{ fluent(key="edit-button", lang=lang) }}</button>
            <button hx-get="/{{ lang }}/delete_mask_maneuver/{{ maneuver.id }}" hx-target="#mask-maneuver-{{ maneuver.id }}" hx-swap="outerHTML" class="btn btn-danger btn-sm">{{ fluent(key="delete-button", lang=lang) }}</button>
        </li>
    </div>
    {% endfor %}
    {% endif %}
    <br>
    <button class="btn btn-dark" hx-get="/{{ lang }}/add_mask_maneuver/{{ mask_id }}" hx-target="this" hx-swap="outerHTML">Add a Maneuver</button>
    <hr>
</div>
