{% extends "base.html" %}

{% block title %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content={{ fluent(key="app-description", lang=lang )}}>
    <meta name="author" content="ToferC">
    <meta property="og:title" content={{ fluent(key="app-mvp", lang=lang )}}>
    <title>{{ fluent(key="password-reset-sent", lang=lang )}}</title>
{% endblock title %}

{% block content %}
    <div class="col m-md-2 m-1">
        <br>
        <h1>{{ fluent(key="password-reset-sent", lang=lang )}}</h1>
        <p>{{ fluent(key="password-reset-details", lang=lang )}}</p>        
    </div>
{% endblock content %}