{% extends "base.html" %}

{% block content %}
<div class="container">
    <br>

    <h1>About Earthdawn Creatures</h1>

    <p>Earthdawn Creatures is an app to help GMs run the Earthdawn 4e RPG. It allows people to create, edit and update any type of earthdawn creature or NPC and then provides some helpful tracking tools for in-game play.</p>

    <p>You can search, view and use the in-play functionality for any creature added to the platform. If you want to create or manage your own creatures, you'll need to register on the app.</p>

    <p>It's been developed in Rust using the open source Actix-Web Web Toolkit. The code is open source and you can find the link in the footer.</p>

    <p>If you have any feature requests or find any bugs, I'd love it if you could create an issue on Github or find me on the FASA Discord server as @Chris / tof3rC</p>

    <p><strong>Earthdawn is registered copyright of the FASA Corporation and is licensed to FASA Games. This app is the work of a fan to help people enjoy the game and makes no claims on any Earthdawn material.</strong></p>
</div>




{% endblock content%}