{% extends "base.html" %}

{% block content %}
        <div class="container">
            <h1>{{ fluent(key="welcome-to", lang=lang) }}</h1>
            <hr>
            <div class="row">

            {% for creature in creatures | sort(attribute="circle_rank") %}
              <div class="col-md-4">

                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">{{ creature.name }}</h5>
                    <p class="card-text">{{ fluent(key="circle", lang=lang) }}: {{ creature.circle_rank }}</p>
                    <p class="card-text">{{ fluent(key="rarity", lang=lang) }}: {{ creature.rarity }}</p>
                    <p class="card-text">{{ fluent(key="found-in", lang=lang )}}: 
                      {% for location in creature.found_in %}
                        <button
                          hx-get="/{{ lang }}/location/{{ location }}"
                          hx-trigger="click"
                          hx-target="#main-body"
                          hx-swap="outerHTML"
                          class="btn btn-sm btn-info" 
                          >{{ location }}
                        </button>
                      {% endfor %}</p>
                      <p class="card-text">{{ fluent(key="tags", lang=lang )}}: 
                      {% for tag in creature.tags %}
                        <button
                          hx-get="/{{ lang }}/tag/{{ tag }}"
                          hx-trigger="click"
                          hx-target="#main-body"
                          hx-swap="outerHTML"
                          class="btn btn-sm btn-light" 
                          >{{ tag }}
                        </button>
                      {% endfor %}</p>

                    <a method="get" href="/{{lang}}/creature/view/{{ creature.slug }}" class="btn btn-primary">{{ fluent(key="view", lang=lang) }}</a>
                    {% if session_user != ""%}
                    <a class="btn btn-secondary" method="get" href="/{{ lang }}/copy_creature/{{ creature.id }}">Copy and Edit</a>
                    {% endif %}
                  </div>
                </div>
                <br>
              </div>
              {% endfor %}
            </div> <!-- end row -->
        
        </div>
{% endblock content %}