<form hx-post="/{{ lang }}/post_power/{{ creature_id }}" hx-target="powers">
    <h3>Add a Power or Ability</h3><br>
    <div>
        <label>Power Name</label><br>
        <input class="form-control form-control-lg" type="text" name="name" placeholder="Add name here..." size=60 value="" required>
    </div>

    <div>
        <label for="action_type">{{ fluent(key="action-type", lang=lang )}}</label>
        <select name="action_type" id="action_type_select">
            <option value="Simple">Simple</option>
            <option selected value="Standard">Standard</option>
            <option value="Move">Move</option>
            <option value="Ritual">Ritual</option>
        </select>
    </div>

    <div>
        <label for="target">{{ fluent(key="target", lang=lang )}}</label>
        <select name="target" id="target_select">
            <option selected value="MysticDefense">Mystic Defense</option>
            <option value="PhysicalDefense">Physical Defense</option>
            <option value="SocialDefense">Social Defense</option>
            <option value="Other">Other</option>
        </select>
    </div>

    <div>
        <label for="resisted_by">{{ fluent(key="resisted-by", lang=lang )}}</label>
        <select name="resisted_by" id="resisted_by_select">
            <option value="Mystic">Mystic</option>
            <option value="Physical">Physical</option>
            <option value="Other">Other</option>
            <option selected value="NotApplicable">Not Applicable</option>
        </select>
    </div>

    <div>
        <label>{{ fluent(key="action-step", lang=lang )}}</label><br>
        <input class="form-control form-control-lg" type="number" name="action_step" placeholder="8" size=60 value="" required>
    </div>

    <div>
        <label>{{ fluent(key="effect-step", lang=lang )}}</label><br>
        <input class="form-control form-control-lg" type="number" name="effect_step" placeholder="8" size=60 value="" required>
    </div>

    <div>
        <label>Details</label><br>
        <input class="form-control form-control-lg" type="text" name="details" placeholder="Add optional details here..." size=60 value="">
    </div>
    <br>
    <button
        hx-post="/{{ lang }}/post_power/{{ creature_id }}"
        hx-target="#powers"
        class="btn btn-primary" 
        type="submit"
    >Save
    </button>
</form>