<form hx-post="/{{ lang }}/post_power/{{ creature_id }}" hx-target="powers">
    <hr>
    <h3>{{ fluent(key="add-power-ability-spell", lang=lang )}}</h3><br>
    <div>
        <label>{{ fluent(key="power-name", lang=lang )}}*</label><br>
        <input class="form-control form-control-lg" type="text" name="name" placeholder="Add name here..." size=60 value="" required>
    </div>

    <div>
        <label for="action_type">{{ fluent(key="action-type", lang=lang )}}*</label>
        <select name="action_type" id="action_type_select">
            <option selected value="Free">{{ fluent(key="free", lang=lang )}}</option>
            <option value="Simple">{{ fluent(key="simple", lang=lang )}}</option>
            <option value="Standard">{{ fluent(key="standard", lang=lang )}}</option>
            <option value="Move">{{ fluent(key="move", lang=lang )}}</option>
            <option value="Ritual">{{ fluent(key="ritual", lang=lang )}}</option>
        </select>
    </div>

    <div>
        <label for="target">{{ fluent(key="target", lang=lang )}}*</label>
        <select name="target" id="target_select">
            <option value="MysticDefense">Mystic Defense</option>
            <option value="PhysicalDefense">Physical Defense</option>
            <option value="SocialDefense">Social Defense</option>
            <option value="Other">Other</option>
            <option selected value="NotApplicable">Not Applicable</option>
        </select>
    </div>

    <div>
        <label for="resisted_by">{{ fluent(key="resisted-by", lang=lang )}}*</label>
        <select name="resisted_by" id="resisted_by_select">
            <option value="Mystic">Mystic</option>
            <option value="Physical">Physical</option>
            <option value="Other">Other</option>
            <option selected value="NotApplicable">Not Applicable</option>
        </select>
    </div>

    <div>
        <label>{{ fluent(key="action-step", lang=lang )}}*</label><br>
        <input class="form-control form-control-lg" type="number" name="action_step" placeholder="{{ fluent(key="enter-action-step", lang=lang )}}" size=60 value="" required>
    </div>

    <div>
        <label>{{ fluent(key="effect-step", lang=lang )}}</label><br>
        <input class="form-control form-control-lg" type="number" name="effect_step" placeholder="{{ fluent(key="enter-effect-option", lang=lang )}}" size=60 value="0">
    </div>

    <div>
        <label>Details</label><br>
        <input class="form-control form-control-lg" type="text" name="details" placeholder="{{ fluent(key="enter-details-here", lang=lang )}}" size=60 value="">
    </div>
    <br>
    <button
        hx-post="/{{ lang }}/post_power/{{ creature_id }}"
        hx-target="#powers"
        class="btn btn-primary" 
        type="submit"
    >Save
    </button>
</form>