<form hx-post="/{{ lang }}/post_power/{{ creature_id }}" hx-target="powers">
    <h3>Add an Power</h3><br>
    <div>
        <label>Power Name</label><br>
        <input class="form-control form-control-lg" type="text" name="name" placeholder="Add name here..." size=60 value="" required>
    </div>

    <div>
        <label>{{ fluent(key="action-step", lang=lang )}}</label><br>
        <input class="form-control form-control-lg" type="number" name="action_step" placeholder="5" size=60 value="8" required>
    </div>

    <div>
        <label>{{ fluent(key="effect-step", lang=lang )}}</label><br>
        <input class="form-control form-control-lg" type="number" name="effect_step" placeholder="5" size=60 value="8" required>
    </div>

    <div>
        <label>Details</label><br>
        <input class="form-control form-control-lg" type="text" name="details" placeholder="Add optional details here..." size=60 value="">
    </div>
    <button
        hx-post="/{{ lang }}/post_power/{{ creature_id }}"
        hx-target="#powers"
        class="btn btn-primary" 
        type="submit"
    >Save
    </button>
  </form>