<div 
    class="container"
    id="power-edit-{{ power.id }}"
>   
    <form hx-post="/{{ lang }}/edit_power_post/{{ power.id }}" hx-target="powers">
        <div>
            <label>Power Name</label><br>
            <input class="form-control form-control-lg" type="text" name="name" placeholder="Add name here..." size=60 value="{{ power.name }}" required>
        </div>

        <div>
            <label for="action_type">{{ fluent(key="action-type", lang=lang )}}</label>
            <select name="action_type" id="action_type_select">
                <option {% if power.action_type == "Simple" %}selected{% endif %} value="Simple">Simple</option>
                <option {% if power.action_type == "Standard" %}selected{% endif %} value="Standard">Standard</option>
                <option {% if power.action_type == "Move" %}selected{% endif %} value="Move">Move</option>
                <option {% if power.action_type == "Ritual" %}selected{% endif %} value="Ritual">Ritual</option>
            </select>
        </div>

        <div>
            <label for="target">{{ fluent(key="target", lang=lang )}}</label>
            <select name="target" id="target_select">
                <option {% if power.target == "MysticDefense" %}selected{% endif %} value="MysticDefense">Mystic Defense</option>
                <option {% if power.target == "PhysicalDefense" %}selected{% endif %} value="PhysicalDefense">Physical Defense</option>
                <option {% if power.target == "SocialDefense" %}selected{% endif %} value="SocialDefense">Social Defense</option>
                <option {% if power.target == "Other" %}selected{% endif %} value="Other">Other</option>
            </select>
        </div>

        <div>
            <label for="resisted_by">{{ fluent(key="resisted-by", lang=lang )}}</label>
            <select name="resisted_by" id="resisted_by_select">
                <option {% if power.resisted_by == "Mystic" %}selected{% endif %} value="Mystic">Mystic</option>
                <option {% if power.resisted_by == "Physical" %}selected{% endif %} value="Physical">Physical</option>
                <option {% if power.resisted_by == "Other" %}selected{% endif %} value="Other">Other</option>
                <option {% if power.resisted_by == "NotApplicable" %}selected{% endif %} value="NotApplicable">Not Applicable</option>
            </select>
        </div>

        <div>
            <label>{{ fluent(key="action-step", lang=lang )}}</label><br>
            <input class="form-control form-control-lg" type="number" name="action_step" placeholder="5" size=60 value="{{ power.action_step }}" required>
        </div>

        <div>
            <label>{{ fluent(key="effect-step", lang=lang )}}</label><br>
            <input class="form-control form-control-lg" type="number" name="effect_step" placeholder="5" size=60 value="{{ power.effect_step }}" required>
        </div>

        <div>
            <label>Details</label><br>
            <input class="form-control form-control-lg" type="text" name="details" placeholder="Add optional details here..." size=60 value="{{ power.details }}">
        </div>
        <br>
        <button
            hx-post="/{{ lang }}/edit_power_post/{{ power.id }}"
            hx-target="#power-edit-{{ power.id }}"
            class="btn btn-primary" 
            type="submit"
        >Save
        </button>
    </form>
</div>