<div
    class="container" 
    id="powers"
    hx-target="this"
    hx-swap="outerHTML"
>
    <div class="row">
      <h3>Powers</h3><br>
    </div>
      {% if powers %}
        {% for power in powers %}
        <div 
          id="power-{{ power.id }}"
          hx-target="this"
          hx-swap="outerHTML"
        >
        <li>{{ power.name }} ({{ power.action_type }} vs. {{ power.target }}): {{ power.action_step}} ({{ power.effect_step }} / {{ power.resisted_by }}){% if power.details %}: {{ power.details }}{% endif %}   
          <button
            hx-get="/{{ lang }}/edit_power/{{ power.id }}"
            hx-target="#power-{{ power.id }}"
            class="btn btn-info btn-sm"
          >Edit</button> 
          <button
              hx-get="/{{ lang }}/delete_power/{{ power.id }}"
              hx-target="#power-{{ power.id }}"
              class="btn btn-danger btn-sm"
          >Delete</button>
        </li>
        </div> <!-- end-div htmx -->
        {% endfor %} <!-- powers -->
      {% endif %}
      <br>
      <button
        class="btn btn-dark"
        hx-get="/{{ lang }}/add_power/{{ creature_id }}"
        hx-target="this"
        hx-swap="outerHTML"
        >
        Add a Power or Ability
      </button>
      <hr>
</div>