<div 
    id="power-{{ power.id }}"
    hx-target="this"
    hx-swap="outerHTML"
    >
    <li>{{ power.name }} ({{ power.action_type }} {% if power.target != 'NotApplicable' %} vs. {{ power.target }}{% endif %}): {{ power.action_step}} ({{ power.effect_step }}{% if power.resisted_by != 'NotApplicable' %} | {{ power.resisted_by }}{% endif %}){% if power.details %}: {{ power.details }}{% endif %}   
        <button
        hx-get="/{{ lang }}/edit_power/{{ power.id }}"
        hx-target="#power-{{ power.id }}"
        class="btn btn-info"
    >Edit</button>
    </li>
</div> <!-- end-div htmx -->