<div 
    class="container"
    id="talent-edit-{{ talent.id }}"
>   
    <form hx-post="/{{ lang }}/edit_talent_post/{{ talent.id }}" hx-target="talents">
        <hr>
        <div>
            <label>{{ fluent(key="talent-name", lang=lang )}}*</label><br>
            <input class="form-control form-control-lg" type="text" name="name" placeholder="{{ fluent(key="enter-name-here", lang=lang )}}" size=60 value="{{ talent.name }}" required>
        </div>

        <div>
            <label>{{ fluent(key="action-step", lang=lang )}}*</label><br>
            <input class="form-control form-control-lg" type="number" name="action_step" min="1" placeholder="{{ fluent(key="enter-action-step", lang=lang )}}" size=60 value="{{ talent.action_step }}" required>
        </div>
        <button
            hx-post="/{{ lang }}/edit_talent_post/{{ talent.id }}"
            hx-target="#talent-edit-{{ talent.id }}"
            class="btn btn-primary" 
            type="submit"
        >Save
        </button>
        <hr>
    </form>
</div>