<div
    class="container" 
    id="talents"
    hx-target="this"
    hx-swap="outerHTML"
>
    <div class="row">
      <h3>{{ fluent(key="talents", lang=lang )}}</h3><br>
    </div>
      {% if talents %}
        {% for talent in talents %}
        <div 
          id="talent-{{ talent.id }}"
          hx-target="this"
          hx-swap="outerHTML"
        >
        <li>
          <strong>{{ talent.name }}</strong> {{ talent.action_step}} ({{ steps | nth(n=talent.action_step - 1) }})
          <button
            hx-get="/{{ lang }}/edit_talent/{{ talent.id }}"
            hx-target="#talent-{{ talent.id }}"
            class="btn btn-info btn-sm"
          >{{ fluent(key="edit-button", lang=lang )}}</button> 
          <button
            hx-get="/{{ lang }}/delete_talent/{{ talent.id }}"
            hx-target="#talent-{{ talent.id }}"
            class="btn btn-danger btn-sm"
          >{{ fluent(key="delete-button", lang=lang )}}</button>
        </li>
        </div> <!-- end-div htmx -->
        {% endfor %} <!-- talents -->
      {% endif %}
      <br>
      <button
        class="btn btn-dark"
        hx-get="/{{ lang }}/add_talent/{{ creature_id }}"
        hx-target="this"
        hx-swap="outerHTML"
        >
        {{ fluent(key="add-a-talent", lang=lang )}}
      </button>
      <hr>
</div>